$font-primary: Roboto, sans-serif;

$color-bg: #f5f6fa;
$color-header: #182C61;
$color-white: #fff;

$color-button: #44bd32;
$color-button-hover: #4cd137;

$radius-sm: 8px;
$radius-md: 16px;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 56px;
