@use "../utils/variables" as v;

.menu {
  display: flex;

  li {
    font-weight: bold;
    margin-left: 24px;

    a {
      color: v.$color-white;
      text-decoration: none;
    }
  }
}
