@use "../utils/variables" as v;

.products {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 32.66%);
  column-gap: 1%;
  row-gap: 4%;
  width: 100%;
}

.product-item {
  img {
    width: 100%;
    border-radius: v.$radius-md;
  }
}

.product-button {
  display: block;
  background-color: v.$color-button;
  color: v.$color-white;
  text-align: center;
  padding: v.$spacing-sm 0;
  border-radius: v.$radius-sm;
  margin-top: v.$spacing-sm;
  text-decoration: none;

  &:hover {
    background-color: v.$color-button-hover;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: 80%;
  }

  .products {
    grid-template-columns: repeat(2, 48.5%);
    column-gap: 3%;
  }
}

@media screen and (max-width: 767px) {
  .products {
    display: block;
  }

  .product-item {
    margin-bottom: v.$spacing-lg;
  }
}
